* {
    box-sizing: border-box;
    /* border: 2px dotted red; */
}

body {
    background-color: #e8f8f6;
    font-family: "Inter", sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 0.5rem;
    background-color: darkblue;
    color: white;
    position: sticky;
    top: 0;
}

header > h1 {
    cursor: pointer;
}

.find-episodes {
    display: flex;
    align-items: center;
}

input,
select {
    padding: 0.5rem;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

footer {
    padding: 1rem;
    background-color: rgb(12, 4, 158);
    border: 2px solid black;
    width: 100%;
    text-align: center;
    color: white;
}

footer > a {
    color: white;
    font-weight: bold;
}

.hidden {
    display: none;
}

#controls-container {
    display: flex;
    gap: 1.5rem;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(clamp(250px, 20%, 350px), 1fr)
    );
    gap: 1rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
}

.episode-desc {
    padding: 0.5rem;
}

.episode-card {
    display: grid;
    align-content: start;
    justify-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.episode-card img {
    width: 100%;
    height: auto;
    display: block;
}

.title-container {
    border: 1px solid black;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
}

@media (max-width: 600px) {
    main {
        padding: 0.5rem;
    }

    header {
        flex-direction: column;
    }
}
